header{
  padding-bottom: 50px;
}

header h1 {
  margin: 0;
}

/*For the navigation bar*/

nav {
  /*padding: 1em 2em;*/
  position: absolute;
  top: 0;
  padding-top: 30px;
  padding-left: 850px;
}

nav ul {
  float: right;
  padding: 0;
  margin: 0;
}

nav li a{
  display: inline;
  text-decoration: none;
  border-right: 0px solid #9C27B0;
  padding: 0 1em;
}

nav li:last-child {
  border: none;
  text-decoration: none;
}

nav a {
  font-family: Calibri,sans-serif;
  color: white;
  font-size: 20px;
  text-decoration: none;
  /*text-transform: uppercase;*/
}

#Buttons {
  position: absolute;
  top: 0;
  right: 20px;
  padding-top: 31px;

}

#Buttons li{
  text-decoration: none;
}

#Buttons a{
  text-decoration: none;
  padding-right: 30px;
  font-family: Calibri,sans-serif;
  color: white;
  font-size: 20px;
}

#LogOut-Button{
  position: absolute;
  width: 100%;
  top: 0;
  padding-top: 30px;
}

#LogOut-Button a{
  text-decoration: none;
  font-family: Calibri,sans-serif;
  color: white;
  font-size: 20px;
  float: right;
  padding-right: 100px;
}

/*For the search of restaurants*/
.search-form{
  text-align: center;
  padding-top: 25%;
} 
.search-form input{
  text-align: center;
  font-family: Calibri,sans-serif;
  width: 200px;
  height: 25px;
}

/*For the register form*/
#content {
  position: absolute;
  top:115px;
  width: 500px;
  height: 400px;
  left: 420px;
  text-align: center;
  background-color: rgba(166, 174, 188,1);
  border-radius: 4px;
  margin: 0 auto;
  z-index: 1;
}

#content h2 {
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  padding-top: 10%;
  margin-bottom: 10px;
}

#content input[type="text"], input[type="password"] {
  height: 25px;
  width: 180px;
  font-size: 18px;
  margin-bottom: 20px;
  padding-left: 40px;
}

/*For the username symbol in the register option*/
#content form-input::before{
  content: "";
  position: a;
  font-family: "FontAwesome";
  font-size: 40px;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 35px;
  color: rgb(222, 226, 232);
}

/*For the pass symbol in the register option*/
.form-input::nth-child(2)::before{
  content: "";
}

.submit-button {
  padding: 15px 30px;
  color: #fff;
  border-radius: 4px;
  border: none;
  border-bottom: 4px solid #27AE60;
  background-color: #2ECC71;
  display: inherit;
  margin-left: 200px;
}

#content.a{
  color: #fff;
}

#content ul {
  padding: 0;
  margin: 0;
}

#content li {
  display: block;
  background-color: #424242;
  margin: 1em 0;
  padding: 2em;
  color: white;
}

#content li a {
  color: white;
}

#content .products li *{
  vertical-align: middle;
}

*{
  margin: 0;
  padding: 0;
}
      
html, body{
  height: 100%;
  font-family: Calibri,sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  overflow: hidden;
  background-color: rgba(0,0,0.5);
  color: white;
  text-align: center;
  /*padding: 1em 3em;*/
}

/*for the video background*/

.background-wrap{
  position: fixed;
  z-index: -1000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top:0;
  left:0;
}

#video-bg-elem{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /*height: 100%;*/
}

/*For the text in front of the video*/
.vid-content{
  position: absolute;
  top:0;
  width: 100%;
  min-height: 100%;
  z-index: -1;
  background-color: rgba(0,0,0,0.5);
}

.vid-content h1{
  text-align: center;
  font-size: 65px;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  padding-top: 15%;
  margin-bottom: 10px;
}

.vid-content a{
  text-align: center;
  font-size: 65px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  padding-top: 15%;
  margin-bottom: 10px;
}

.vid-content p{
  text-align: center;
  font-size:20px;
  letter-spacing: 3px;
  color: #aaa;
}

/*For the log in */
#login_content{
  position: absolute;
  top:115px;
  width: 500px;
  height: 400px;
  left: 420px;
  text-align: center;
  background-color: rgba(166, 174, 188,1);
  border-radius: 4px;
  margin: 0 auto;
  z-index: 1;
}

#login_content h2 {
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  padding-top: 15%;
  margin-bottom: 10px;
}

#login_content input[type="text"], input[type="password"] {
  height: 25px;
  width: 180px;
  font-size: 18px;
  margin-bottom: 20px;
  padding-left: 40px;
  color:black;
}

/*For the username symbol in the login option*/
#login_content form-input::before{
  content: "";
  position: a;
  font-family: "FontAwesome";
  font-size: 40px;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 35px;
  color: rgb(222, 226, 232);
}

/*For the pass symbol in the login option*/
.form-input::nth-child(2)::before{
  content: "";
}

.submit-button {
  padding: 15px 30px;
  color: #fff;
  border-radius: 4px;
  border: none;
  border-bottom: 4px solid #27AE60;
  background-color: #2ECC71;
  display: inherit;
  margin-left: 200px;
}


/*For the resturant search results*/

.List-Restaurants {
  background-color: rgba(166, 174, 188,0.4);
  text-align: center;
}

#Restaurant {
  padding: 30px;
  margin-left: 400px;
  background-color: rgba(166, 174, 188,0.8);
  width: 500px;
  margin-bottom: 50px;

}

#Restaurant h1 {
  font-family: Calibri,sans-serif;
  font-size: 20px;
  color: white;

}

#Restaurant a {
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  border: none;
  border-bottom: 4px solid #27AE60;
  background-color: #2ECC71;
  display: inherit;
  margin-left: 200px;
  width: 100px;
  margin-top:7px;

}

/*For the User profile page*/

#see_user{
  position: absolute;
  top:0;
  background-color: rgba(166, 174, 188,0.6);
  margin-left: 450px;
  margin-top: 200px;
  height: 400px;
  width: 500px;
  border-radius: 10px;
}

#user_image{
  border-radius: 270px;
  margin-left: 170px;
  margin-top: -90px;
}

#see_user header section{
  font-family: Calibri,sans-serif;
  font-size: 20px;
  color: white;
  margin-left: 100px;
  margin-top: 25px;
}

#see_user header section h3{
  margin-left: 30px;
}

#username{
  font-family: Calibri,sans-serif;
  font-size: 20px;
  color: white;
}

#see_user li{
  list-style-type: none;
}

#see_user li a{
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  border: none;
  border-bottom: 4px solid #27AE60;
  background-color: #2ECC71;
  display: inherit;
  margin-left: 200px;
  margin-top:7px;
  padding-left: 5px;
  width: 76px;
}


/*For the see restaurant detailed Page*/

#Restaurant-Detailed-Info{
  width:800px;
  height: 500px;
  margin:0 auto;
  margin-top: 300px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: rgba(166, 174, 188,0.6);
}

#Restaurant-Detailed-Info h2{
  font-family: Calibri,sans-serif;
  font-size: 20px;
  color: white;
}

#Restaurant-Detailed-Info header{
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 50px;
}

#Restaurant-Detailed-Info li{
  list-style-type: none;
  margin-right:350px;
  margin-left:350px;
  margin-top: -50px;
}

#Restaurant-Detailed-Info a{
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  border: none;
  border-bottom: 4px solid #27AE60;
  background-color: #2ECC71;
  display: inherit;
  margin-top: 30px;
  margin-left: 20px;
  padding-left: 5px;

}
#Restaurant-Image{
  float:right;
}

#Restaurant-Image img{
  border-radius: 100px;
}

#Restaurant-Info{
  display: inline;
  font-family: Calibri,sans-serif;
  font-size: 20px;
  color: white;
}

#Restaurant-Info h3{
  margin-left: 20px;
}
